<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title><?php echo $domain_name?></title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Red leaf comingsoon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <!--/Style-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->
</head>

<body>
    <div class="Coming-block">

        <div class="page">

        </div>
        <div class="content">
            <div class="logo">
                <a class="brand-logo" href="index.html"><?php echo $domain_name; ?></a>
                <!-- if logo is image enable this   
                <a class="brand-logo" href="#index.html">
                    <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                </a> 
            -->
            </div>
            <div class="w3l-coming-soon-page">
                <div class="coming-block">
                    <h1>Coming Soon</h1>
                    <p>We are almost there, Stay tuned for something amazing!!</p>
                    
                    <a href="index.html" class="home">Contact us</a>
                </div>
            </div>
            <div class="copy-right text-center">
            <p>© 2019 Red leaf. All rights reserved | Design by
                    <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
            </div>
        </div>

        <script src="js/jquery-3.3.1.min.js"></script>
        </div>
</body>

</html>