html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Encode Sans Condensed', sans-serif;
    background: #fff;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Encode Sans Condensed', sans-serif;
}

p {
    margin: 0;
    color: #333;
    font-size: 1em;
    line-height: 1.8;
    letter-spacing: 1px;
}

ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus {
    outline: none;
    text-decoration: none;
}

.list-group-item {
    background-color: transparent;
}
.header-top{padding:8px 0;}.bg-theme1{background:#eeb71e !important;}
.row .product .vm-product-media-container .p-mask{opacity:0;visibility:hidden;background:rgba(25, 24, 24, 0.8);position:absolute;padding:1em 1em;width:100%;top:0;-webkit-transform:translate3d(0px, 0px, 0px);-moz-transform:translate3d(0px, 0px, 0px);-ms-transform:translate3d(0px, 0px, 0px);-o-transform:translate3d(0px, 0px, 0px);transform:translate3d(0px, 0px, 0px);-webkit-transition:all .5s ease 0s;-moz-transition:all .5s ease 0s;transition:all .5s ease 0s;text-align:center;} .row .product .vm-product-media-container .p-mask{padding:1em;}
ul.d-flex.header-agile li span{margin-right:1em;color:#0cc5b7;}
h1.wthree-logo a{font-size:0.7em;}
label.menulist{width:50px;}label.menulist:after{font-size:23px;}
ul.submenu{width:100px;} ul.submenu{width:108px;}
ul.submenu li a{font-size:13px;}
ul.submenu li a:hover{color:#02c;}
ul.submenu:before{
	position:absolute;
top:-30px;
left:80px;
content:"";
border-left:13px solid transparent;
border-right:13px solid transparent;
border-bottom:15px solid #fff;
border-top:15px solid transparent;
}
#menu li a.active{color:#02c;}
.breadcrumb-item.active{color:#02c;text-transform:capitalize;}
ul.bottom-links-w3_pvt li a.active{color:#34c663;}
ul.d-flex.header-agile li span{margin-right:1em;color:#0cc5b7;}
span.icon_facebook{background:#3b5998;}
.text-theme{color:#02c !important;}
.text-theme1{color:#eeb71e !important;}
.text-theme{font-size:1.1em;}
ul#menu{color:#eee;}#menu li a.active{color:#02c;}
input#check01{display:none;}



/*hide the inputs*/
input#check01{display:none}

/*show the second levele menu of the selected voice*/
input#check01:checked ~ ul.submenu{
  max-height:300px;
  transition:max-height 0.5s ease-in;
  z-index: 999;
}

/*style for the second level menu*/
ul.submenu{
  max-height:0;
  padding:0;
  overflow:hidden;
  list-style-type:none;
  background:#fff;
  box-shadow:0 0 1px rgba(0,0,0,.3);
  transition:max-height 0.5s ease-out;
  position:absolute;
  min-width:100%;
}
label.menulist, ul.submenu{
      width: 180px;
}

ul.submenu li a{
  color:#000;
  text-decoration:none;
  transition:background .3s;
  white-space:nowrap;
  text-transform: capitalize;
    font-size: 16px;
    display: block;
    margin: 13px;
    font-weight: 400;
	text-align:center;
}
